<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note APP</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>

  <div class="container">

  <!-- navbar section  -->

  <nav>
     <div class="input-holder">
      <img src="../images/search.png"> 
      <input type="text" class="search-input" placeholder="Type to search" />
      </div>

      <div class="profile-box">
        <span>Hi' Demo</span>

        <span class="profile-img">
          <img src="">
        </span>

      </div>

    </nav>


    <!-- content box  -->
    <div class="two-container">

    <!-- Left Side section  -->
      <section class="left-side">

        <div class="Add-new">
          <a href="/">Add New Note</a>
        </div>

    <!-- Card section  -->
      </section>


    <!-- Right Side section  -->

      <section class="right-side">

        <div class="Note-writing-area">
  
              <textarea id="title-heading"><%=viewData.title %></textarea>
              <br><br>
              <textarea id="Description"><%=viewData.Description %></textarea>
  
          </div>

      </section>

    </div>

  </div>

  <script src="../javascripts/main.js"></script>
</body>
</html>